<div class="col">
  <div class="card shadow-sm">
    <%= image_tag giphy['images']['original']['url'].to_s, class: "bd-placeholder-img card-img-top", role: "img" %>

    <div class="card-body">
      <p class="card-text">
        <%= giphy['title'] %>
      </p>
    </div>
  </div>
</div>
