<div class="col">
  <div class="card shadow-sm">
    <%= image_tag giphy['data']['images']['fixed_height_small']['url'], class: "bd-placeholder-img card-img-top", role: "img" %>

    <div class="card-body">
      <p class="card-text">
        <%= giphy['data']['title'] %>
      </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-dark">More Infos</button>
          </div>
        </div>
    </div>
  </div>
</div>
