<div class="col">
  <div class="card shadow-sm">
    <%= image_tag giphy['data']['images']['preview_gif']['url'], class: "bd-placeholder-img card-img-top", role: "img" %>

    <div class="card-body">
      <p class="card-text">
        <%= giphy['data']['title'] %>
      </p>
    </div>
  </div>
</div>
